Repository TencentBlueKing/bk-repo, pull requests merged in 2023-05, with the labels that each got.

#553 bug: 修复制品分析拉取制品时401错误 #550
  src/backend/analyst/api-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/pojo/SubScanTask.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/controller/ScanController.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/event/ScanEventConsumer.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/service/ScanService.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/service/impl/ScanServiceImpl.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/service/impl/TemporaryScanTokenServiceImpl.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/statemachine/task/action/PendingAction.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/statemachine/task/context/CreateTaskContext.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/utils/SubtaskConverter.kt
Labels: bug, backend

#481 feat: 自动创建release分支 #252
  .github/workflows/release.yml
Labels: enhancement, tested

#612 bug: 优化sse心跳机制 #406
  src/backend/generic/biz-generic/src/main/kotlin/com/tencent/bkrepo/generic/config/IOExceptionHandler.kt
  src/backend/generic/biz-generic/src/main/kotlin/com/tencent/bkrepo/generic/controller/GenericDeltaController.kt
  src/backend/generic/biz-generic/src/main/kotlin/com/tencent/bkrepo/generic/service/DeltaSyncService.kt
Labels: tested

#699 bug: 修复在K8S创建分析任务Job时报409错误 #574
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/dispatcher/KubernetesDispatcher.kt
Labels: bug, backend, tested
