Repository TencentBlueKing/bk-repo, pull requests merged in 2023-04, with the labels that each got.

#375 fix: 制品分析的方案详情页的许可证总数取值不正确,当许可证总数为0时会显示漏洞总数的数据#374
  src/frontend/devops-repository/src/views/repoScan/scanReport/overview.vue
Labels: bug, frontend

#311 feat: 增加体验镜像制品分析初始化数据 #197
  scripts/bk-repo-all-in-one-startup.sh
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/configuration/ScannerConfiguration.kt
  src/backend/analyst/biz-analyst/src/main/kotlin/com/tencent/bkrepo/analyst/dispatcher/SubtaskPoller.kt
  src/backend/boot-assembly/src/main/resources/application.yml
  src/frontend/.eslintrc.js
  src/frontend/devops-repository/index.html
  src/frontend/devops-repository/src/components/PackageCard/index.vue
  src/frontend/devops-repository/src/views/index.vue
  src/frontend/devops-repository/src/views/repoCommon/commonPackageDetail.vue
  src/frontend/devops-repository/src/views/repoCommon/commonVersionDetail.vue
  src/frontend/devops-repository/src/views/repoGeneric/index.vue
  support-files/sql/init-data.js
Labels: backend, deploy

#419 bug: 修复判断是否允许读取系统公开仓库时未使用传入的用户 #418
  src/backend/common/common-security/src/main/kotlin/com/tencent/bkrepo/common/security/manager/PermissionManager.kt
Labels: bug
