Repository TencentBlueKing/bk-repo, changes with the owners that CODEOWNERS names for each.
All owners: @owenlxu, @yaoxuwan, @zacYL, @cnlkl, @felixncheng

CODEOWNERS:

# Where component owners are known, add them here.
/CODEOWNERS             @owenlxu
/docs                   @owenlxu
/scripts                @owenlxu
/support-files          @owenlxu
/src/gateway            @owenlxu
/src/backend/auth       @owenlxu @yaoxuwan
/src/backend/oci        @zacYL
/src/backend/helm       @zacYL
/src/backend/rpm        @zacYL
/src/backend/maven      @zacYL
/src/backend/replication      @zacYL @cnlkl
/src/backend/boot-assembly    @felixncheng
/src/backend/archive          @felixncheng
/src/backend/git              @felixncheng
/src/backend/buildSrc   @felixncheng @cnlkl
/src/backend/lfs        @yaoxuwan
/src/backend/repository @yaoxuwan @cnlkl
/src/backend/webhook    @yaoxuwan @zacYL
/src/backend/pypi       @yaoxuwan @zacYL
/src/backend/composer   @yaoxuwan @zacYL
/src/backend/npm        @cnlkl
/src/backend/generic    @cnlkl @yaoxuwan @felixncheng
/src/backend/common     @cnlkl @yaoxuwan @felixncheng
/src/backend/analysis-executor    @cnlkl
/src/backend/analysis   @cnlkl
/src/backend/ddc        @cnlkl
/src/backend/svn        @cnlkl
/src/backend/opdata     @cnlkl @owenlxu
/src/frontend           @cnlkl

refactor: pypi query结构调整 #1749
  src/backend/pypi/api-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/constants/Constant.kt
  src/backend/pypi/api-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/constants/PypiQueryType.kt
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/artifact/repository/PypiLocalRepository.kt
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/artifact/repository/PypiRemoteRepository.kt
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/service/PypiService.kt
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/service/PypiWebService.kt
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/util/UrlUtils.kt
Owners: @yaoxuwan, @zacYL

feat: 实现基于Redis的LRU策略 #1678
  src/backend/common/common-artifact/artifact-service/build.gradle.kts
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/OrderedCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalSLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalWTinyLFUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/event/listener/ArtifactCacheAccessListener.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

feat: 实现基于Redis的LRU策略 #1678
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisLRUCache.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

impr: 优化清理引用任务中的节点判存逻辑 #1777
  src/backend/job/biz-job/src/main/kotlin/com/tencent/bkrepo/job/batch/FileReferenceCleanupJob.kt
  src/backend/job/biz-job/src/main/kotlin/com/tencent/bkrepo/job/batch/utils/NodeCommonUtils.kt
  src/backend/job/biz-job/src/main/kotlin/com/tencent/bkrepo/job/config/properties/FileReferenceCleanupJobProperties.kt
Owners: none

feat: 实现基于Redis的WTinyLRU策略 #1678
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/OrderedCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalSLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/SLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/WTinyLFUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisSLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisWTinyLFUCache.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

#impr: 补充单元测试 #1777
  src/backend/job/biz-job/src/main/kotlin/com/tencent/bkrepo/job/batch/FileReferenceCleanupJob.kt
  src/backend/job/biz-job/src/main/kotlin/com/tencent/bkrepo/job/config/properties/FileReferenceCleanupJobProperties.kt
  src/backend/job/biz-job/src/test/kotlin/com/tencent/bkrepo/job/batch/FileReferenceCleanupJobTest.kt
Owners: none

feat: 支持generic proxy #705 合并master
  src/backend/pypi/biz-pypi/src/main/kotlin/com/tencent/bkrepo/pypi/util/UrlUtils.kt
Owners: @yaoxuwan, @zacYL

#impr: 优化归档下载器 #1774
  src/backend/archive/biz-archive/src/main/kotlin/com/tencent/bkrepo/archive/job/FileStorageFileProvider.kt
Owners: @felixncheng

feat: 实现基于Redis的SLRU策略 #1678
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/ArtifactCacheConfiguration.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/ArtifactCacheEvictionProperties.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/Counter.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/DefaultArtifactCacheCleaner.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/OrderedCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalCountMinSketchCounter.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalSLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalWTinyLFUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/SLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/local/WTinyLFUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisSLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisWTinyLFUCache.kt
  src/backend/common/common-artifact/artifact-service/src/test/kotlin/com/tencent/bkrepo/common/artifact/cache/local/LocalWTinyLFUCacheTest.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

feat: 支持generic proxy #705
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/router/ArtifactRouterControllerConfiguration.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/router/RouterControllerAspect.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/router/RouterControllerProperties.kt
  src/backend/common/common-service/src/main/kotlin/com/tencent/bkrepo/common/service/proxy/ProxyFeignClientFactory.kt
  src/backend/proxy/boot-proxy/build.gradle
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/NodeBaseService.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/NodeDeleteSupport.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/NodeServiceImpl.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/center/CommitEdgeCenterNodeServiceImpl.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/edge/EdgeNodeBaseService.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/edge/EdgeNodeServiceImpl.kt
  src/backend/repository/biz-repository/src/test/kotlin/com/tencent/bkrepo/repository/service/ServiceBaseTest.kt
  src/backend/router-controller/api-router-controller/src/main/kotlin/com/tencent/bkrepo/router/enum/RouterControllerMessageCode.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

feat: 支持generic proxy #705 修复单测
  src/backend/repository/biz-repository/src/test/kotlin/com/tencent/bkrepo/repository/service/ServiceBaseTest.kt
Owners: @yaoxuwan, @cnlkl

bug : 修复代码合并问题 #1793
  src/backend/auth/biz-auth/src/main/kotlin/com/tencent/bkrepo/auth/service/local/AbstractServiceImpl.kt
Owners: @owenlxu, @yaoxuwan

feat: 实现基于Redis的SLRU策略 #1678
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisLRUCache.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/cache/redis/RedisSLRUCache.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

feat: 归档下载器支持优先级下载 #1790
  src/backend/archive/biz-archive/src/main/kotlin/com/tencent/bkrepo/archive/job/FileStorageFileProvider.kt
  src/backend/archive/biz-archive/src/main/kotlin/com/tencent/bkrepo/archive/job/PriorityFileProvider.kt
  src/backend/archive/biz-archive/src/main/kotlin/com/tencent/bkrepo/archive/job/compress/BDZipManager.kt
  src/backend/archive/biz-archive/src/main/kotlin/com/tencent/bkrepo/archive/utils/ArchiveUtils.kt
  src/backend/archive/biz-archive/src/test/kotlin/com/tencent/bkrepo/archive/job/FileStorageFileProviderTest.kt
  src/backend/common/common-api/src/main/kotlin/com/tencent/bkrepo/common/api/concurrent/PriorityCallableTask.kt
Owners: @felixncheng, @cnlkl, @yaoxuwan

feat: 删除缓存文件时同时清理缓存清理器内对应的索引 #1678
  src/backend/common/common-artifact/artifact-service/build.gradle.kts
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/ArtifactAutoConfiguration.kt
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/event/listener/ArtifactCacheAccessListener.kt
  src/backend/common/common-storage/storage-service/build.gradle.kts
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/StorageAutoConfiguration.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/AbstractStorageSupport.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/CleanupSupport.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/CacheStorageService.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/ArtifactCacheCleaner.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/ArtifactCacheConfiguration.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/ArtifactCacheEvictionProperties.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/DefaultArtifactCacheCleaner.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/OrderedCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/OrderedCachedFactory.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/local/LocalLRUCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/local/LocalSLRUCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/local/SLRUCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/redis/RedisLRUCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/redis/RedisSLRUCache.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/filesystem/cleanup/CleanupFileVisitor.kt
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/filesystem/cleanup/event/FileCleanedEvent.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng

feat: 删除缓存文件时同时清理缓存清理器内对应的索引 #1678
  src/backend/common/common-storage/storage-service/src/main/kotlin/com/tencent/bkrepo/common/storage/core/cache/evication/ArtifactCacheConfiguration.kt
Owners: @cnlkl, @yaoxuwan, @felixncheng
